body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 20px;
}

.animated-text {
  animation: fadeIn 2s ease-in-out;
}

.animated-image {
  animation: fadeIn 2s ease-in-out;
}

.span-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
  }
}
